.page {
  position: relative;
  width: 90vw;
  margin: 15px auto;
  height: 90vh;
}

.page main{
  position: relative;
  display: flex;
  width: inherit;
  height: inherit;
  border: 1px solid #ccc;
}

.page header {
  text-align: center;
}

.leftPageNo {
  position: absolute;
  bottom: 0;
}

.leftPage {
  flex: 1;
  display: flex;
  align-items: center;
  border-right: 1px solid #ccc;
}

.leftPage pre, .rightPage pre {
  display: flex;
  padding: 10px;
  justify-content: center;
  font-size: large;
  cursor: pointer;
}

.rightPage {
  flex: 1;
  display: flex;
  align-items: center;
}

.rightPageNo {
  position: absolute;
  bottom: 0;
  right: 0;
}

.leftPageNo, .rightPageNo {
  font-weight: bold;
  padding: 20px;
  background-color: #ccc;
}

.leftPageBtn {
  position: absolute;
  top: 0;
  padding: 20px;
}

.rightPageBtn {
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
}